/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.text-primary{
    color:rgb(253, 110, 10);
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.btn-primary{
    border-radius: 5px;

background-color: rgb(253, 110, 10);
color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
padding: 18px 35px;
border: none;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color:rgb(71, 71, 71);
}
nav ul{
    display: flex;
    align-items: center;
}

.text-center{
    text-align: center;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-pic{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.header{
 

    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    

}

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

.skills-container{
    display: flex;
    gap: 24px;
    

}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06) ;
    border-radius: 5px;
}